NEXT_PUBLIC_PROJECT_ID=
NEXT_PUBLIC_DB_ID=
NEXT_PUBLIC_PRODUCTS_COLLECTION_ID=
NEXT_PUBLIC_BUCKET_ID=
STRIPE_SECRET_KEY=
NOVU_API_KEY=
NOVU_SUBSCRIBER_ID=
NEXT_PUBLIC_NOVU_API_KEY=
NEXT_PUBLIC_NOVU_APP_ID=
NEXT_PUBLIC_NOVU_SUBSCRIBER_ID=